.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
}

.cube__one, .cube__two, .cube__three {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    transform: rotate(45deg);
    position: absolute;
}

.cube__one {
    background-color: #8e24aa;
    top: 0;
    left: 0;
    animation: cube1 3s infinite;
}

.cube__two {
    width: 40px;
    height: 40px;
    background: #4a148c;
    top: 45px;
    left: 45px;
    animation: cube2 3s infinite;
}

.cube__three {
    background-color: #7b1fa2;
    top: 0;
    left: 90px;
    animation: cube3 3s infinite;
}

@keyframes cube1 {
    0% {
        top: 0px;
        left: 0px;
    }
    33.3% {
        top: 45px;
        left: 45px;
        transform: rotate(90deg);
        background-color: #7b1fa2;
    }
    66.66% {
        top: 0px;
        left: 90px;
        transform: rotate(135deg);
        background-color: #6a1b9a;
    }
    100% {
        top: 0px;
        left: 0px;
        transform: rotate(-135deg);
        background-color: #4a148c;
    }
}

@keyframes cube2 {
    0% {
        top: 45px;
        left: 45px;
    }
    33.3% {
        top: 0px;
        left: 90px;
        transform: rotate(90deg);
        background-color: #4a148c;
    }
    66.66% {
        top: 0px;
        left: 0px;
        transform: rotate(135deg);
        background-color: #6a1b9a;
    }
    100% {
        top: 45px;
        left: 45px;
        transform: rotate(-135deg);
        background-color: #7b1fa2;
    }
}

@keyframes cube3 {
    0% {
        top: 0px;
        left: 90px;
    }
    33.3% {
        top: 0px;
        left: 0px;
        transform: rotate(90deg);
        background-color: #7b1fa2;
    }
    66.66% {
        top: 45px;
        left: 45px;
        transform: rotate(135deg);
        background-color: #4a148c;
    }
    100% {
        top: 0px;
        left: 90px;
        transform: rotate(-135deg);
        background-color: #9c27b0;
    }
}