.subjects__left, .subjects__right {
    background-color: #f9f9f9;
    height: 82vh;
    border: 1px solid #e1bee7;
}

.subjects__left{
    overflow-y: scroll;
}



.subjects__right {
    position: relative;
}

.subjects__right_centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 10%;
    margin: auto;
}

.subject__title_commisions{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
    height: 50%;
    transform: translatey(30%);
    margin: auto;
}

.subjects__item, .subject__select-title {
    display: flex;
    padding: 6px;
    justify-content: space-between;
}

.subjects__item:hover {
    color: #fff;
    background-color: #00838f;
}