.container {
    margin: 100px 0 0 0;
}

.loader {
    width: 64px;
    height: 64px;
    z-index: 100;
    animation: loaderRotate 8.4s;
    background-color: red;
}

.ring {
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    box-sizing: border-box;
    background-color: coral;
}

.ring1 {
    border: 3px solid red;
    animation: Ring1 2.8s infinite;
}

.ring2 {
    animation: Ring2 2.8s infinite;
    border: 3px solid red;
}

.ring3 {
    animation: Ring3 2.8s infinite;
    border: 3px solid red;
}

@keyframes loaderRotate {
    0% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes Ring1 {
    0%, 5% {
        transform: rotate(0deg) rotateY(0deg);
    }
    100% {
        transform: rotate(0deg) rotateY(-360deg);
    }
}

@keyframes Ring2 {
    0% {
        transform: rotate(120deg) rotateY(0deg);
    }
    95%, 100% {
        transform: rotate(120deg) rotateY(360deg);
    }
}

@keyframes Ring3 {
    0%, 5% {
        transform: rotate(240deg) rotateY(0deg);
    }
    95%, 100% {
        transform: rotate(240deg) rotateY(-360deg);
    }
}