.resource-quantity {
  position: absolute;
  margin-left: 40%;
  margin-top: 45%;
  font-size: 50px;
  z-index: 4;
  color: white;
  background-color: #333;
  width: 60px;
  padding-left: 15px;
  border-radius: 50px;
}

.selected-overlay {
  opacity: 0.2;
}

.collection .collection-item:hover {
  cursor: pointer;
  background-color: #ce93d8;
  color: #333;
}
.active-item {
  background-color: #ba68c8 !important;
  color: #333 !important;
  border: none !important;
}

.item-box {
  display: flex;
	flex-direction: column;
	align-items: center;
  align-self: flex-start;
  transition: all .4s;

}
.img_cover {
  object-fit: scale-down;
}

.item-box-down{
  width: 100%;
}

.scene {
  width: 100%;
  height: 260px;
  border: 1px solid #CCC;
  margin: 40px 0;
  perspective: 600px;
}

/* Custom Cards */
.card_ {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card_.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: #333;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  width: 100%;
  height: 100%;
}

.card__face--back {
  transform: rotateY(180deg);
}

@media (max-width: 320px) {
  .resourceSelect,
  .resourceItem {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  .resourceSelect,
  .resourceItem {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 600px) {
  .resourceSelect,
  .resourceItem {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 100px) {
  .card {
    margin-right: 20px;
  }
}
