.login-div {
    display: absolute;
    max-width: 430px;
    padding: 35px;
    margin: 10% auto;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.logo {
    width: 60%;
    height: 60%;
    margin: 0 auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}