body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #f5f5f5;
}

.cursor-pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.height-172 {
  height: 172px;
}

/* ----- Paddings ---- */

.p0 {
  padding: 0px;
}

.p5 {
  padding: 5px;
}

/* ----- Paddings Top---- */

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt15 {
  padding-top: 15px;
}

.pt30 {
  padding-top: 30px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pt40 {
  padding-top: 40px;
}

.pt50 {
  padding-top: 50px;
}

.pt60 {
  padding-top: 60px;
}

.pt70 {
  padding-top: 70px;
}

.pt80 {
  padding-top: 80px;
}

.pt90 {
  padding-top: 90px;
}

.pt100 {
  padding-top: 100px;
}

.pt110 {
  padding-top: 110px;
}

.pt120 {
  padding-top: 120px;
}

/* ----- Padding left---- */

.pl20 {
  padding-left: 20px;
}

/* ----- Padding button---- */

.pb10 {
  padding-bottom: 10px !important;
}

.pb20 {
  padding-bottom: 0px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

/* ----- Padding Left && Right---- */

.px20 {
  padding-right: 55px;
}

/* -------- Margins ------ */

.m0 {
  margin: 0px;
}

.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

.m50 {
  margin: 50px;
}

.my20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* -------- Right Left ------ */

.mx20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx90 {
  margin-left: 90px;
  margin-right: 90px;
}

/* -------- Left ------ */

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.ml40 {
  margin-left: 40px;
}

.ml50 {
  margin-left: 50px;
}

.ml60 {
  margin-left: 60px;
}

.ml70 {
  margin-left: 70px;
}

.ml80 {
  margin-left: 80px;
}

.ml90 {
  margin-left: 90px;
}

.ml100 {
  margin-left: 100px;
}

.ml110 {
  margin-left: 110px;
}

.ml120 {
  margin-left: 120px;
}

.ml130 {
  margin-left: 130px;
}

.ml140 {
  margin-left: 140px;
}

.ml150 {
  margin-left: 150px;
}

.ml160 {
  margin-left: 160px;
}

.ml170 {
  margin-left: 170px;
}

.ml190 {
  margin-left: 190px;
}

/* -------- Rigth ------ */

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mr40 {
  margin-right: 40px;
}

.mr50 {
  margin-right: 50px;
}

.mr60 {
  margin-right: 60px;
}

/* -------- Top ------ */

.mt5 {
  margin-top: 5px;
}

.mt8 {
  margin-top: 8px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt100 {
  margin-top: 100px;
}

.mt110 {
  margin-top: 110px;
}

.mt120 {
  margin-top: 120px;
}

.mt130 {
  margin-top: 130px;
}

.mt140 {
  margin-top: 140px;
}

.mt150 {
  margin-top: 150px;
}

.mt160 {
  margin-top: 160px;
}

.mt200 {
  margin-top: 200px;
}

.mt220 {
  margin-top: 220px;
}

.mt240 {
  margin-top: 240px;
}

.mt260 {
  margin-top: 260px;
}

.mt280 {
  margin-top: 280px;
}

.mt300 {
  margin-top: 300px;
}

.mt320 {
  margin-top: 320px;
}

.mt610 {
  margin-top: 610px;
}

/* Bottom */
.mb0 {
  margin-bottom: 0px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb50 {
  margin-bottom: 50px;
}

/* ------Borders------ */

.border-none {
  border: none !important;
}

.border-bottom-gray {
  border-bottom: 1px solid #757575 !important;
}

.border-bottom-red {
  border-bottom: 1px solid #df1a1a !important;
}

/* ------ Widths ------ */

.width-100 {
  width: 100%;
}

/* Utilies */

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.font-weight-bold {
  font-weight: bold;
}

.height100 {
  height: 100px;
}

.height150 {
  height: 150px;
}

.height200 {
  height: 250px;
}

.height-100 {
  height: 100%;
}

/* Fonts Size */

.fsize12 {
  font-size: 12px;
}

.fsize13 {
  font-size: 13px;
}

/* Borders */
.card-container {
  display: flex;
  justify-content: center;
}

.card-container .card {
  width: 50%;
  margin: 5rem 0;
}

.card-container .card h5{
  text-align: center;
}